{% extends "base.html" %}
{% block content %}
<div class="row row-centered">
	<div class="col-xs-12 col-sm-8 col-centered">
		<div class="well text-center">
			Time Remaining<br />
			<span class="kkcountdown" data-time="{{metadata.data}}" style="font-size:6em"></span>
			
		</div>
	</div>
</div>
<ul class="result" style="list-style-type:none;padding-left: 0"></ul>

<script>

	poll();
	function poll() {
		$.ajax({
			url: '/json',
			dataType: 'json',
			success: function(o) {
				for(i=0;i<o.length;i++) {
					if($('#user-'+o[i].team).length == 0) {
						//the user has not been added yet, so we add it
						$(".result").append('<li><div class="row row-centered"><div class="col-xs-12 col-sm-8 col-centered"><div class="well"><div class="row"><div class="col-xs-9" style="font-size:1.5em"><a href="/team/' + o[i].team + '" id="user-' + o[i].team + '">' + o[i].team + '</a></div><div class="col-xs-3 text-right" style="font-size:1.5em"><span class="points" id="user-points-' + o[i].team + '">' + o[i].points + '</span></div></div></div></div></li>');
					} else {
						//the id does exist so we update it
						$('#user-points-'+o[i].team).html(o[i].points);
					}
				}
				sort();
			},
		});	
		// play it again, sam
		t=setTimeout("poll()",3000);
	}

	
	function sort() {
	    $(".result>li").tsort({
			sortFunction: function (a, b) {
		        var aNum = a.e.find('.points').text();
		        var bNum = b.e.find('.points').text();
		        return bNum - aNum;
		    }
		});
	}
</script>


	


{% endblock %}


		